<div class="row">
	<div class="col-md-7">
		<h2 class="page-header"><%= @user.full_name + " (" + @user.profile_name + ")" %></h2>

		<% if @statuses %>
			<% @statuses.each do |status| %>
				<%= status.context %> <br>
				<%= link_to time_ago_in_words(status.created_at) + " ago", status %> 
				<hr />
			<% end %>
		<% end %>
	</div>

	<div class="col-md-5">
		<h2 class="page-header">Picture</h2>
	</div>	
</div>