<p>
  <strong>Name:</strong>
  <%= @status.user.email%>
</p>

<p>
  <strong>Context:</strong>
  <%= @status.context %>
</p>

<%= link_to 'Edit', edit_status_path(@status) %> |
<%= link_to 'Back', statuses_path %>
